.groupCon {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.groupCon label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #5b4a29;
}
